In [64]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier

In [73]:
Df = pd.read_csv("X_train.csv")

In [74]:
Df

    A    B    C
0  22   21  Dog
1  30   22  Cat
2  15  100  Dog
3  19   19  Cat
4  19   21  Dog

In [75]:
X = Df.iloc[:, :-1].values
y = Df.iloc[:, 2].values

In [76]:
X

array([[ 22,  21],
       [ 30,  22],
       [ 15, 100],
       [ 19,  19],
       [ 19,  21]], dtype=int64)

In [77]:
y

array(['Dog', 'Cat', 'Dog', 'Cat', 'Dog'], dtype=object)

In [78]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30)

In [83]:
knn = KNeighborsClassifier(n_neighbors = 3)

In [84]:
knn = knn.fit(X_train, y_train)

In [85]:
predictions = knn.predict(X_test)

In [82]:
print(predictions)

['Cat' 'Cat']