## Run Library

In [4]:
import pandas as pd

## Run Data

In [5]:
Df = pd.read_csv("Final_Results.csv")

In [7]:
Df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.),Charges Billed by Courier Company (Rs.),Zone_Category_Wiz_Total_Weight,Total_Amount_Zones,Expected Rates,Total_Amount_By_Courier
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,11357.5,91.05,11357.5,4.75,11352.75
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,11357.5,91.05,11357.5,4.75,11352.75
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,11357.5,91.05,11357.5,4.75,11352.75
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,1969.9,26.50,1969.9,1.50,1968.40
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,11357.5,91.05,11357.5,4.75,11352.75

## Find Out Correctly Charged Amount, Over Charged And Under Charged

In [54]:
# Correctly Charged Orders
correctly_charged = Df[(Df['Billing Amount (Rs.)'] >= 71) & (Df['Billing Amount (Rs.)'] <= 150)]
correctly_charged_count = correctly_charged.shape[0]
correctly_charged_amount = correctly_charged['Billing Amount (Rs.)'].sum()

In [55]:
correctly_charged_count

70

In [56]:
correctly_charged_amount

6804.8

In [39]:
# Over Charged Orders
Over_charged = Df[(Df['Billing Amount (Rs.)'] >= 151) & (Df['Billing Amount (Rs.)'] <= 405)]
Over_charged_count = Over_charged.shape[0]
Over_charged_amount = Over_charged['Billing Amount (Rs.)'].sum()

In [40]:
Over_charged_count

25

In [41]:
Over_charged_amount

5405.0

In [48]:
# Under Charged Orders
Under_charged = Df[(Df['Billing Amount (Rs.)'] >= 0) & (Df['Billing Amount (Rs.)'] <= 70)]
Under_charged_count = Under_charged.shape[0]
Under_charged_amount = Under_charged['Billing Amount (Rs.)'].sum()

In [49]:
Under_charged_count

29

In [50]:
Under_charged_amount

1438.4

## Final DataFrame Results

In [58]:
# Summary Table Creation
summary_data = {
    'Category': ['Total orders where X has been correctly charged', 'Total Orders where X has been overcharged ', 'Total Orders where X has been undercharged '],
    'Count_Of_Orders': [correctly_charged_count, Over_charged_count, Under_charged_count],
    'Amount (Rs.)': [correctly_charged_amount, Over_charged_amount, Under_charged_amount]
}

Summary_Data = pd.DataFrame(summary_data)

In [59]:
Summary_Data

,Category,Count_Of_Orders,Amount (Rs.)
0,Total orders where X has been correctly charged,70,6804.8
1,Total Orders where X has been overcharged,25,5405.0
2,Total Orders where X has been undercharged,29,1438.4

## Results to CSV File

In [60]:
Summary_Data.to_csv('Final_Assignment_Results.csv', index=False)